In [1]:
def add_one(x):
    return x + 1

In [2]:
add_one(1)

2

In [3]:
add_one(2)

3

In [7]:
a = 1
add_one(a)

2

In [6]:
b = add_one(a)
b

2

In [ ]:
def do_nothing():
    pass

In [29]:
# Lösung:

def square(x):
    return x**2

In [30]:
square(2)

4

In [24]:
def add(a, b):
    return a + b

In [26]:
add(1, 2)

3

In [27]:
# Lösung:

def exponentiate(x, n):
    return x**n

In [31]:
exponentiate(2, 3)

8

In [9]:
add_one("1")

TypeError: can only concatenate str (not "int") to str

In [17]:
def add_one(x: int) -> int:
    """Adds 1 to the input and returns the result"""
    return x + 1

In [18]:
add_one(3)

4

In [19]:
add_one(3.1)

4.1

In [23]:
add_one("1")

TypeError: can only concatenate str (not "int") to str

In [32]:
def print_add_one(x: int) -> None:
    """Adds 1 to the input and prints the result"""
    print(x + 1)

In [33]:
print_add_one(1)

2

In [22]:
def add_one(x):
    """
    :param x: integer value
    :type x: int
    :returns: x + 1
    :rtype: int
    """
    return x + 1

In [35]:
# Lösung:

def exponentiate(x: float, n: int) -> float:
    """Returns x to the power of n"""
    return x**n

In [37]:
type(add_one)

function

In [69]:
add_one.__name__

'add_one'

In [42]:
def total(a, b, c, d):
    """
    :params a, b, c, d: float value
    :type a, b, c, d: float
    :returns: sum of a, b, c, d
    :rtype: float
    """
    return a + b + c + d

def mean(a, b, c, d):
    """
    :params a, b, c, d: float value
    :type a, b, c, d: float
    :returns: mean of a, b, c, d
    :rtype: float
    """
    return total(a, b, c, d)/4

def apply_func(a, b, c, d, func):
    """
    :params a, b, c, d: float value
    :type a, b, c, d: float
    :param func: function to apply
    :type func: function
    :returns: func(a, b, c, d)
    :rtype: float
    """
    return func(a, b, c, d)

In [44]:
apply_func(1, 2, 3, 4, total)

10

In [45]:
apply_func(1, 2, 3, 4, mean)

2.5

In [46]:
max(1, 2, 3, 4)

4

In [47]:
min(1, 2, 3, 4)

1

In [66]:
# Lösung:

def largest_distance(a, b, c, d):
    """
    :params a, b, c, d: float value
    :type a, b, c, d: float
    :returns: range of a, b, c, d
    :rtype: float
    """
    return max(a, b, c, d) - min(a, b, c, d)

def summary(a: float, b: float, c: float, d: float) -> None:
    """Prints summary results for input values"""
    print(f"Sum of {a}, {b}, {c}, {d}: ", total(a, b, c, d))
    print(f"Mean of {a}, {b}, {c}, {d}: ", mean(a, b, c, d))
    print(f"Max of {a}, {b}, {c}, {d}: ", max(a, b, c, d))
    print(f"Min of {a}, {b}, {c}, {d}: ", min(a, b, c, d))
    print(f"Range of {a}, {b}, {c}, {d}: ", largest_distance(a, b, c, d))

# Alternative Lösung:

def print_statistic(a, b, c, d, func):
    """
    :params a, b, c, d: float value
    :type a, b, c, d: float
    :returns: nothing, just prints formatted string containing func(a, b, c, d)
    :rtype: None
    """
    print(f"{func.__name__} of {a}, {b}, {c}, {d}: ", func(a, b, c, d))
    
def summary_alternative(a: float, b: float, c: float, d: float) -> None:
    """Prints summary results for input values"""
    print_statistic(a, b, c, d, total)
    print_statistic(a, b, c, d, mean)
    print_statistic(a, b, c, d, max)
    print_statistic(a, b, c, d, min)
    print_statistic(a, b, c, d, largest_distance)

In [67]:
summary(1, 2, 3, 4)

Sum of 1, 2, 3, 4:  10
Mean of 1, 2, 3, 4:  2.5
Max of 1, 2, 3, 4:  4
Min of 1, 2, 3, 4:  1
Range of 1, 2, 3, 4:  3

In [68]:
summary_alternative(1, 2, 3, 4)

total of 1, 2, 3, 4:  10
mean of 1, 2, 3, 4:  2.5
max of 1, 2, 3, 4:  4
min of 1, 2, 3, 4:  1
largest_distance of 1, 2, 3, 4:  3